<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Consulta</title>
    <link rel="stylesheet" href="https://use.typekit.net/iua0dbj.css" />
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/inputs.css" asp-append-version="true" />
    <link href="~/css/spinkit/spinkit.min.css" rel="stylesheet" />
    <link href="~/css/toast/toast.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="admin-layout">
        <nav>
            <div class="header-lista">
                @*<img src="~/assets/logo.png" width="150" height="30" />*@
                <div class="separador"></div>
                <div>
                    <ul class="menu_principal">
                        <li>
                            <a class="header-link" asp-area="" asp-controller="Ventas" asp-action="Index">
                                <span>
                                    Ventas Departamentos
                                </span>
                            </a>
                        </li>
                         <li>
                            <a class="header-link" asp-area="" asp-controller="Ventas" asp-action="Comisiones">
                                <span>
                                    Comisiones Vendedores
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="header-link" asp-area="" asp-controller="Pedidos" asp-action="Index">
                                <span>
                                    Pedidos
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="main">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
